@import "../../main/variables.scss";
@import "../../main/mixin.scss";

.chat{
	width: 100%;
	height: 100vh;
	background-color: $chatColor;
	display: flex;
	&__left{
		width: 15%;
		height: 100%;
		background-color: $bar;
	}
	&__rigth{
		width: 85%;
		height: 100%;
		background-color: #333;
		
		&-header{
			width: 100%;
			height: 10%;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			@include display-center(space-between, center);
			padding: 0 60px;
			.header__info{
				@include display-center(center, center);
				&-avatar{
					width: 50px;
					height: 50px;
					border-radius: 50%;
					background-image: url(../../main/img/icon.png);
					background-size: cover;
				}
				&-box{
					margin-left: 10px;
					.header__title{
						@include font(#fff, 16px, 600, normal, 0, 0);
					}
					.header__status{
						@include font(#ededed, 14px, 500, normal, 0, 0);

					}
				}
			}
			.header__cricle{
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: rgba(255, 255, 255, 0.07);
				@include display-center(center, center);
				cursor: pointer;
				&-touch{
					width: 20px;
					height: 20px;
					background-image: url(../img/touch.svg);
					background-size: cover;
				}
			}

		}
		&-main{
			width: 100%;
			height: 75%;
			padding: 0 60px;
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: 4px;
			}
			  
			  &::-webkit-scrollbar-track {
				background: transparent;
			  }
			  
			  &::-webkit-scrollbar-thumb {
				background: $time;
				border-radius: 8px;
			  }
			  

			.container__messege{
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
				.newMessege{
					width: auto;
					height: auto;
					@include display-center(flex-start, flex-end);
					margin-top: 10px;
					&__avatar{
						width: 35px;
						height: 35px;
						background-size: cover;
						border-radius: 50%;
						@include display-center(center, center);
	
					}
					&__messege{
						min-width: 150px;
						max-width: 350px;
						height: auto;
						border-radius: 14px 14px 14px 4px;
						background: rgba(255, 255, 255, 0.10);
						margin-left: 7px;
						padding: 10px;
						word-wrap: break-word; 
						overflow-wrap: break-word; 
						&-header{
							width: 100%;
							height: 5%;
							@include font(red, 12px, 600, normal, 0, 0);
	
						}
						&-main{
							width: 100%;
							height: 90%;
							@include font(#fff, 14px, 500, normal, 0, 0);
							padding-top: 5px;
							padding-right: 20px;

							.button__voice{
								width: 45px;
								height: 45px;
								background-color: #fff;
								border: none;
								border-radius: 50%;
								@include display-center(center, center);
								position: relative;
								left: 10px;
								&-play{
									width: 19px;
									height: 19px;
									background-image: url(../img/play.svg);
									background-size: cover;
								}
							}
							p{
								position: relative;
								left: 10px;
								margin-top: 5px;
							}
							img{
								max-width: 100%;
								padding: 10px;
								border-radius: 10px;
							}
						}
						&-bottom{
							width: 100%;
							height: 5%;
							@include font($time, 12px, 400, normal, 0, 0);
							@include display-center(flex-end, center);
						}
					}
				}
				.newMessegeOther{
					align-self: flex-start;
			   }
			   .newMessegeMy{
					align-self: flex-end;
					.newMessege__avatar{
						display: none;
					}
					.newMessege__messege{
						border-radius: 6px;
						margin-left: 7px;
						padding: 10px;
						.newMessege__messege-header{
							p{
								display: none;
							}
						}
					}
			   }
			}
			

		}
		&-bottom{
			width: 100%;
			height: 15%;
			@include display-center(center, center);
			padding: 0 20px;

			.messege{
				width: 100%;
				height: 60px;
				border-radius: 8px;
				background-color:  rgba(255, 255, 255, 0.05);
				@include display-center(space-between, center);

				&__left{

					width: 60px;
					height: 100%;
					@include display-center(center, center);
					cursor: pointer;

					&-file{
						width: 24px;
						height: 24px;
						background-image: url(../img/attach.svg);
						background-size: cover;
					}
				}
				&__main{
					width: 85%;
					height: 100%;
					@include display-center(center, center);
					&-messege{
						width: 100%;
						height: 100%;
						background-color: transparent;
						outline: none;
						border: none;
						@include font(#8A8A8A, 16px, 500, normal, 0, 0);

					}
				}
				&__rigth{
					width: 120px;
					height: 100%;
					@include display-center(flex-end, center);

					.emoji__popup{
						width: 300px;
						height: 350px;
						position: absolute;
						bottom: 100%;
						right: 0%;
						margin-bottom: 10px;
						border-radius: 7px;
						background: $mesege;
						box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
						padding: 20px;
						overflow-y: auto;
						transform: translateY(30%);
						opacity: 0;
						visibility: hidden;
						transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0s 0.3s;
						display: flex;
						flex-wrap: wrap;
						
						&.show {
						  // State when the popup is visible
						  transform: translateY(0);
						  opacity: 1;
						  visibility: visible;
						  transition-delay: 0s;
						}
						&::-webkit-scrollbar {
							width: 4px;
						}
						  
						&::-webkit-scrollbar-track {
							background: transparent;
						}
						  
						&::-webkit-scrollbar-thumb {
							background: $time;
							border-radius: 8px;
						}
						div{
							width: 60px;
							height: 60px;
							@include display-center(center, center);
							transition: 0.5s;
							border-radius: 5px;

							&:hover{
								background-color: rgba(174, 174, 174, 0.09);
								transition: 0.5s;
							}

						}
					}
					&-emoji{
						width: 60px;
						height: 100%;
						@include display-center(center, center);
						cursor: pointer;
						.emoji__bg{
							width: 100%;
							height: 100%;
							@include display-center(center, center);
							.emoji{
								width: 24px;
								height: 24px;
								background-image: url(../img/emoji.svg);
								background-size: cover;
							}
						}
					}
					&-voice{
						width: 60px;
						height: 100%;
						@include display-center(center, center);
						cursor: pointer;
						.send{
							width: 24px;
							height: 24px;
							background-image: url(../img/mic.svg);
							background-size: cover;
						}
						.messege-send{
							width: 24px;
							height: 24px;
							background-image: url(../img/send.svg);
							background-size: cover;
						}
					}
					&-send{
						width: 60px;
						height: 100%;
						@include display-center(center, center);
						cursor: pointer;
						.messege-send{
							width: 24px;
							height: 24px;
							background-image: url(../img/send.svg);
							background-size: cover;
						}
					}
				}
			}
		}

	}
}
