@import "../../../main/variables.scss";
@import "../../../main/mixin.scss";

	.home__buttons-button{
		width: 552px;
		height: 65px;
		background-color: $mainColor;
		cursor: pointer;
		@include transiton(700ms);
		@include display-center(center, center);
		@include font(#fff, 24px, 500, 15px, 0, 0);
		margin: 20px 0;

		&:hover{
			background-color: transparent;
			border: 1px solid $mainColor;
			color: $mainColor;
			@include transiton(700ms);
		}
	}


.home__buttons-green{
	.home__buttons-button{
		background-color: $ligthGreen;
		&:hover{
			border: 1px solid $ligthGreen;
			color: $ligthGreen;
			background-color: transparent;
		}
	}	
}


@media screen and(max-width: 800px) {
	.home__buttons-button{
		width: 280px;
		height: 60px;
		@include font(#fff, 22px, 500, 15px, 0, 0);
		margin: 10px 0;
	}

	

}
